.reset-btn {
  width: auto;
  margin: 0.6rem auto;
  cursor: pointer;
}

.reset-btn-back {
  border: none;
  background-color: $color-spaceship;
  font-family: $font-main;
  color: white;
  font-size: 1.4rem;
  padding: 0.8rem;
  font-weight: bolder;
  margin-bottom: 2rem;
  border-radius: 10px;
  transition: all 0.3s ease;
  &:hover {
    background-color: rgb(193, 193, 193);
    color: rgb(53, 53, 98);
  }
}

.goback {
  color: white;
  font-size: 2rem;
  font-weight: bolder;
  text-align: left;
  position: relative;
  margin-top: 1.6rem;
  transition: all 0.3s ease;
  &:hover {
    color: $color-spaceship;
  }
}

.fa-chevron-circle-left {
  font-size: 1.8rem;
  padding-right: 0.8rem;
}
