.body {
  //height: 100%;
  width: 100vw;
  //max-height: 100vh;
  //min-height: fit-content;
  background: radial-gradient(ellipse at bottom, #253549 0%, #090a0f 100%);
  //overflow: hidden;
  //background-size: cover;
}
.mainContent {
  margin: 0 1.5rem;
  @include tablet {
    margin: 0 40px;
  }
}

// #stars {
//   width: 1px;
//   height: 1px;
//   background: transparent;
//   box-shadow: 716px 1950px #fff, 697px 1516px #fff, 934px 1749px #fff,
//     1548px 1409px #fff, 1052px 1462px #fff, 743px 883px #fff, 1976px 863px #fff,
//     852px 1128px #fff, 1994px 1774px #fff, 411px 1149px #fff, 338px 495px #fff,
//     726px 1660px #fff, 1450px 1483px #fff, 1308px 1938px #fff, 206px 1337px #fff,
//     1699px 1269px #fff, 1797px 131px #fff, 614px 1025px #fff, 373px 1878px #fff,
//     1240px 1806px #fff, 352px 1613px #fff, 121px 1682px #fff, 1020px 1305px #fff,
//     1639px 1463px #fff, 350px 310px #fff, 686px 449px #fff, 1439px 1978px #fff,
//     1339px 867px #fff, 1431px 1961px #fff, 655px 62px #fff, 276px 1651px #fff,
//     1353px 1135px #fff, 71px 1743px #fff, 1366px 1658px #fff, 271px 634px #fff,
//     415px 717px #fff, 1322px 1206px #fff, 439px 266px #fff, 1017px 1396px #fff,
//     847px 107px #fff, 485px 293px #fff, 40px 362px #fff, 539px 107px #fff,
//     1968px 1641px #fff, 1682px 225px #fff, 468px 1042px #fff, 777px 93px #fff,
//     269px 1053px #fff, 1972px 1652px #fff, 1914px 1625px #fff, 864px 1034px #fff,
//     537px 279px #fff, 1412px 553px #fff, 1895px 1839px #fff, 1216px 182px #fff,
//     1577px 8px #fff, 1437px 1937px #fff, 796px 1361px #fff, 447px 1308px #fff,
//     48px 1998px #fff, 215px 1812px #fff, 1877px 1986px #fff, 901px 1945px #fff,
//     329px 609px #fff, 499px 1830px #fff, 358px 1265px #fff, 2000px 1106px #fff,
//     475px 1100px #fff, 987px 1659px #fff, 1141px 1259px #fff, 78px 174px #fff,
//     1081px 683px #fff, 662px 523px #fff, 110px 1309px #fff, 1375px 811px #fff,
//     1249px 1797px #fff, 1063px 264px #fff, 658px 622px #fff, 1294px 210px #fff,
//     902px 1081px #fff, 1518px 270px #fff, 1584px 442px #fff, 1160px 836px #fff,
//     179px 819px #fff, 1639px 1737px #fff, 1748px 208px #fff, 1685px 1765px #fff,
//     756px 7px #fff, 1431px 95px #fff, 1774px 1867px #fff, 1487px 6px #fff,
//     1977px 1957px #fff, 1822px 948px #fff, 705px 549px #fff, 1440px 1650px #fff,
//     1103px 269px #fff, 815px 756px #fff, 1200px 925px #fff, 407px 265px #fff,
//     438px 1690px #fff, 1478px 1224px #fff, 1673px 711px #fff, 507px 431px #fff,
//     1835px 722px #fff, 402px 1846px #fff, 766px 667px #fff, 1590px 491px #fff,
//     493px 1595px #fff, 1589px 1179px #fff, 1006px 909px #fff, 649px 1272px #fff,
//     810px 1635px #fff, 536px 1514px #fff, 164px 1141px #fff, 1798px 908px #fff,
//     350px 603px #fff, 380px 1px #fff, 1112px 103px #fff, 1894px 931px #fff,
//     6px 1638px #fff, 640px 583px #fff, 1806px 440px #fff, 1709px 1769px #fff,
//     429px 323px #fff, 1958px 333px #fff, 1096px 1343px #fff, 1284px 760px #fff,
//     513px 469px #fff, 636px 1243px #fff, 1602px 930px #fff, 1319px 1575px #fff,
//     803px 511px #fff, 1839px 1259px #fff, 306px 784px #fff, 651px 376px #fff,
//     1494px 348px #fff, 1505px 577px #fff, 716px 1100px #fff, 522px 556px #fff,
//     1993px 109px #fff, 1941px 1040px #fff, 1950px 656px #fff, 1002px 40px #fff,
//     341px 1123px #fff, 1241px 1067px #fff, 1406px 297px #fff, 1429px 1318px #fff,
//     1863px 1926px #fff, 81px 299px #fff, 1510px 1285px #fff, 1645px 633px #fff,
//     151px 851px #fff, 1761px 1408px #fff, 557px 69px #fff, 1873px 1771px #fff,
//     535px 1188px #fff, 1810px 1615px #fff, 1537px 128px #fff, 1724px 228px #fff,
//     1405px 1936px #fff, 349px 1661px #fff, 1071px 718px #fff, 1187px 1825px #fff,
//     1691px 1358px #fff, 868px 826px #fff, 1736px 775px #fff, 793px 1744px #fff,
//     1847px 920px #fff, 526px 388px #fff, 1277px 684px #fff, 290px 938px #fff,
//     701px 1657px #fff, 1688px 258px #fff, 274px 1858px #fff, 1444px 678px #fff,
//     532px 454px #fff, 1712px 1116px #fff, 452px 891px #fff, 1247px 218px #fff,
//     844px 1119px #fff, 675px 1208px #fff, 1068px 1663px #fff, 909px 298px #fff,
//     1071px 344px #fff, 574px 1976px #fff, 362px 346px #fff, 1214px 742px #fff,
//     1127px 397px #fff, 1033px 1367px #fff, 154px 1655px #fff, 299px 1147px #fff,
//     1032px 442px #fff, 1172px 53px #fff, 193px 801px #fff, 848px 1275px #fff,
//     758px 252px #fff, 1423px 960px #fff, 1861px 522px #fff, 722px 377px #fff,
//     1508px 1230px #fff, 1250px 128px #fff, 234px 1311px #fff, 1966px 444px #fff,
//     1293px 1772px #fff, 1189px 946px #fff, 1509px 542px #fff, 1708px 614px #fff,
//     596px 793px #fff, 86px 1498px #fff, 1744px 746px #fff, 1850px 810px #fff,
//     1070px 351px #fff, 1483px 156px #fff, 1071px 724px #fff, 6px 371px #fff,
//     1448px 729px #fff, 895px 792px #fff, 1291px 504px #fff, 1773px 1866px #fff,
//     884px 1841px #fff, 1545px 958px #fff, 216px 934px #fff, 1359px 1540px #fff,
//     668px 483px #fff, 508px 1530px #fff, 1058px 180px #fff, 504px 1090px #fff,
//     29px 1493px #fff, 1491px 683px #fff, 1546px 324px #fff, 297px 446px #fff,
//     771px 90px #fff, 448px 1506px #fff, 1056px 361px #fff, 1803px 463px #fff,
//     680px 1193px #fff, 99px 780px #fff, 112px 570px #fff, 386px 664px #fff,
//     987px 356px #fff, 163px 789px #fff, 620px 1499px #fff, 1967px 624px #fff,
//     257px 1270px #fff, 1122px 516px #fff, 228px 1143px #fff, 1649px 1362px #fff,
//     1819px 491px #fff, 1000px 333px #fff, 516px 928px #fff, 129px 959px #fff,
//     570px 489px #fff, 16px 1472px #fff, 1770px 1421px #fff, 1784px 653px #fff,
//     1378px 1923px #fff, 800px 1197px #fff, 435px 1585px #fff, 584px 298px #fff,
//     958px 1929px #fff, 1582px 1687px #fff, 1297px 934px #fff, 1740px 1453px #fff,
//     1691px 1818px #fff, 1086px 1595px #fff, 1739px 1026px #fff, 715px 828px #fff,
//     260px 23px #fff, 446px 1013px #fff, 519px 1913px #fff, 1506px 1453px #fff,
//     1607px 999px #fff, 1056px 810px #fff, 411px 1918px #fff, 1937px 1761px #fff,
//     871px 1894px #fff, 893px 471px #fff, 679px 191px #fff, 526px 226px #fff,
//     1737px 595px #fff, 1005px 1211px #fff, 174px 1484px #fff, 308px 229px #fff,
//     256px 395px #fff, 1788px 1750px #fff, 1245px 1197px #fff, 924px 118px #fff,
//     1304px 1844px #fff, 531px 46px #fff, 1648px 808px #fff, 97px 1302px #fff,
//     1126px 572px #fff, 822px 1172px #fff, 1748px 1548px #fff, 1950px 941px #fff,
//     1846px 938px #fff, 683px 266px #fff, 1134px 840px #fff, 1012px 1633px #fff,
//     1991px 1634px #fff, 1131px 1727px #fff, 959px 902px #fff, 1134px 1652px #fff,
//     390px 698px #fff, 1066px 189px #fff, 1353px 1756px #fff, 1042px 878px #fff,
//     1899px 1121px #fff, 1797px 1837px #fff, 1030px 1857px #fff,
//     911px 1665px #fff, 638px 569px #fff, 1339px 1011px #fff, 130px 242px #fff,
//     1604px 84px #fff, 264px 789px #fff, 1461px 894px #fff, 1300px 85px #fff,
//     145px 1330px #fff, 1002px 810px #fff, 617px 436px #fff, 1324px 1345px #fff,
//     1640px 1183px #fff, 1150px 1036px #fff, 414px 139px #fff, 1716px 955px #fff,
//     1493px 245px #fff, 1200px 904px #fff, 1119px 949px #fff, 890px 1264px #fff,
//     439px 1052px #fff, 810px 1303px #fff, 992px 1029px #fff, 593px 962px #fff,
//     1300px 1285px #fff, 264px 1314px #fff, 1249px 669px #fff, 178px 326px #fff,
//     359px 461px #fff, 1482px 1634px #fff, 1093px 1432px #fff, 434px 879px #fff,
//     1844px 185px #fff, 1991px 623px #fff, 11px 1632px #fff, 1761px 797px #fff,
//     1365px 183px #fff, 993px 765px #fff, 902px 1652px #fff, 1777px 613px #fff,
//     252px 1296px #fff, 1205px 1491px #fff, 1139px 1864px #fff, 49px 1029px #fff,
//     126px 633px #fff, 457px 1975px #fff, 1198px 139px #fff, 1420px 395px #fff,
//     972px 984px #fff, 1943px 296px #fff, 745px 240px #fff, 1919px 891px #fff,
//     1566px 1194px #fff, 830px 431px #fff, 664px 1938px #fff, 6px 370px #fff,
//     968px 1901px #fff, 1967px 1912px #fff, 1613px 1930px #fff,
//     1639px 1382px #fff, 665px 747px #fff, 576px 261px #fff, 1249px 1924px #fff,
//     1935px 822px #fff, 997px 782px #fff, 1207px 470px #fff, 1007px 1128px #fff,
//     53px 1722px #fff, 1228px 547px #fff, 1418px 1195px #fff, 1236px 574px #fff,
//     16px 723px #fff, 375px 385px #fff, 465px 1252px #fff, 1771px 535px #fff,
//     382px 587px #fff, 1469px 120px #fff, 1985px 1414px #fff, 1473px 1431px #fff,
//     1250px 1887px #fff, 1668px 1878px #fff, 972px 278px #fff, 354px 1157px #fff,
//     914px 1286px #fff, 923px 1539px #fff, 650px 1990px #fff, 289px 897px #fff,
//     178px 683px #fff, 1283px 806px #fff, 920px 1041px #fff, 938px 1607px #fff,
//     1190px 1883px #fff, 1370px 415px #fff, 1599px 540px #fff, 341px 174px #fff,
//     360px 1848px #fff, 1335px 558px #fff, 741px 512px #fff, 438px 1343px #fff,
//     828px 139px #fff, 126px 97px #fff, 968px 1720px #fff, 1108px 699px #fff,
//     970px 1278px #fff, 1765px 1268px #fff, 1236px 304px #fff, 1660px 371px #fff,
//     1363px 336px #fff, 1440px 648px #fff, 1569px 830px #fff, 1184px 703px #fff,
//     1524px 1145px #fff, 1157px 628px #fff, 337px 1600px #fff, 498px 892px #fff,
//     1737px 1256px #fff, 971px 1825px #fff, 1389px 754px #fff, 835px 1362px #fff,
//     1471px 936px #fff, 472px 833px #fff, 272px 1576px #fff, 331px 286px #fff,
//     1713px 668px #fff, 1969px 1297px #fff, 249px 40px #fff, 879px 831px #fff,
//     571px 1186px #fff, 551px 561px #fff, 1776px 225px #fff, 946px 585px #fff,
//     987px 160px #fff, 675px 355px #fff, 665px 1949px #fff, 286px 989px #fff,
//     1185px 998px #fff, 1360px 1124px #fff, 1386px 1676px #fff, 465px 1832px #fff,
//     1271px 448px #fff, 1967px 116px #fff, 1971px 382px #fff, 480px 861px #fff,
//     1639px 1107px #fff, 1744px 535px #fff, 428px 1908px #fff, 503px 1674px #fff,
//     1527px 105px #fff, 1702px 834px #fff, 1030px 97px #fff, 1010px 1530px #fff,
//     1057px 1710px #fff, 104px 875px #fff, 849px 1338px #fff, 1735px 1626px #fff,
//     1763px 1540px #fff, 224px 423px #fff, 1908px 873px #fff, 661px 204px #fff,
//     1661px 1218px #fff, 1555px 500px #fff, 1021px 1702px #fff, 1406px 694px #fff,
//     1548px 1206px #fff, 1825px 422px #fff, 1465px 761px #fff, 1997px 516px #fff,
//     1078px 240px #fff, 497px 1743px #fff, 1126px 1907px #fff, 1966px 265px #fff,
//     1605px 117px #fff, 1251px 1583px #fff, 1599px 757px #fff, 1392px 1165px #fff,
//     1985px 593px #fff, 1648px 1772px #fff, 989px 1939px #fff, 1013px 1443px #fff,
//     1635px 705px #fff, 1861px 1589px #fff, 394px 631px #fff, 648px 1132px #fff,
//     954px 1161px #fff, 838px 1782px #fff, 1070px 705px #fff, 1739px 310px #fff,
//     1243px 600px #fff, 1083px 1666px #fff, 370px 742px #fff, 1646px 1982px #fff,
//     335px 1127px #fff, 1245px 642px #fff, 1399px 486px #fff, 1901px 26px #fff,
//     1146px 1955px #fff, 1874px 1240px #fff, 1418px 617px #fff, 249px 946px #fff,
//     1347px 1054px #fff, 762px 1234px #fff, 1930px 88px #fff, 1003px 643px #fff,
//     1701px 887px #fff, 895px 1031px #fff, 1437px 1835px #fff, 1756px 768px #fff,
//     1415px 1945px #fff, 87px 870px #fff, 627px 1546px #fff, 361px 1109px #fff,
//     1766px 1125px #fff, 1032px 1127px #fff, 1292px 1555px #fff,
//     1081px 1219px #fff, 293px 1548px #fff, 900px 1152px #fff, 386px 1171px #fff,
//     1447px 989px #fff, 1547px 775px #fff, 587px 1751px #fff, 424px 676px #fff,
//     1251px 1607px #fff, 1062px 864px #fff, 1812px 1047px #fff, 779px 1172px #fff,
//     1190px 1279px #fff, 990px 1954px #fff, 1045px 1830px #fff, 46px 72px #fff,
//     496px 532px #fff, 968px 115px #fff, 1597px 1465px #fff, 556px 1826px #fff,
//     1112px 856px #fff, 948px 912px #fff, 850px 162px #fff, 1691px 1442px #fff,
//     764px 626px #fff, 943px 1746px #fff, 351px 1635px #fff, 1441px 1431px #fff,
//     641px 1002px #fff, 903px 43px #fff, 707px 895px #fff, 1225px 586px #fff,
//     1383px 1584px #fff, 384px 1409px #fff, 1776px 750px #fff, 1710px 295px #fff,
//     1215px 1425px #fff, 1668px 1162px #fff, 718px 448px #fff, 1054px 655px #fff,
//     1745px 1874px #fff, 1293px 638px #fff, 783px 204px #fff, 28px 1253px #fff,
//     268px 1518px #fff, 988px 1423px #fff, 1237px 751px #fff, 1599px 304px #fff,
//     176px 1026px #fff, 1754px 1062px #fff, 1925px 1661px #fff, 980px 789px #fff,
//     643px 981px #fff, 201px 1075px #fff, 19px 424px #fff, 146px 825px #fff,
//     1593px 1902px #fff, 1881px 784px #fff, 1393px 1425px #fff, 573px 204px #fff,
//     1729px 268px #fff, 1155px 1994px #fff, 698px 432px #fff, 1490px 1677px #fff,
//     1762px 1667px #fff, 698px 55px #fff, 721px 1699px #fff, 632px 473px #fff,
//     1557px 1829px #fff, 1289px 1636px #fff, 1011px 736px #fff, 769px 1651px #fff,
//     833px 137px #fff, 166px 1388px #fff, 1511px 232px #fff, 740px 479px #fff,
//     1261px 1747px #fff, 561px 1614px #fff, 1515px 1859px #fff, 149px 1482px #fff,
//     423px 820px #fff, 1281px 608px #fff, 1472px 942px #fff, 1979px 205px #fff,
//     59px 1730px #fff, 35px 653px #fff, 9px 312px #fff, 1518px 1978px #fff,
//     790px 1333px #fff, 1893px 100px #fff, 1523px 738px #fff, 493px 1517px #fff,
//     1706px 1807px #fff, 1300px 1090px #fff, 960px 945px #fff, 91px 486px #fff,
//     727px 185px #fff, 1588px 1525px #fff, 763px 1225px #fff, 59px 248px #fff,
//     1270px 916px #fff, 1101px 648px #fff, 1674px 879px #fff, 274px 996px #fff,
//     1917px 874px #fff, 1195px 1287px #fff, 1286px 472px #fff, 1864px 1406px #fff,
//     813px 1208px #fff, 405px 644px #fff, 1886px 944px #fff, 528px 1633px #fff,
//     297px 1780px #fff, 715px 274px #fff, 1267px 447px #fff, 395px 1156px #fff,
//     1755px 891px #fff, 570px 1524px #fff, 1126px 932px #fff, 216px 715px #fff,
//     851px 1639px #fff, 830px 1784px #fff, 1770px 524px #fff, 1477px 309px #fff,
//     1986px 665px #fff, 1997px 1251px #fff, 654px 928px #fff, 514px 26px #fff,
//     1276px 1735px #fff, 1820px 916px #fff, 223px 1463px #fff, 479px 83px #fff,
//     800px 212px #fff, 465px 1644px #fff, 548px 1121px #fff, 1893px 102px #fff,
//     509px 1283px #fff, 676px 1250px #fff, 1201px 1776px #fff, 324px 365px #fff,
//     1833px 1027px #fff, 1874px 1970px #fff, 114px 225px #fff, 417px 758px #fff,
//     1279px 1949px #fff, 1984px 1511px #fff, 866px 1983px #fff, 886px 1862px #fff,
//     1800px 62px #fff, 98px 616px #fff, 212px 600px #fff, 231px 991px #fff,
//     440px 1705px #fff, 755px 1356px #fff, 1234px 1507px #fff, 108px 1506px #fff,
//     1136px 1465px #fff, 1491px 837px #fff, 1088px 1396px #fff, 895px 1569px #fff,
//     1400px 197px #fff, 1399px 1662px #fff, 487px 1547px #fff, 1770px 1712px #fff,
//     1475px 1385px #fff, 1695px 1239px #fff, 1067px 1977px #fff,
//     1482px 1555px #fff, 1469px 1727px #fff, 1408px 42px #fff, 1442px 1648px #fff,
//     661px 766px #fff, 245px 1658px #fff, 691px 672px #fff, 1623px 369px #fff,
//     901px 302px #fff;
//   animation: animStar 50s linear infinite;
// }
// #stars:after {
//   content: " ";
//   position: absolute;
//   top: 2000px;
//   width: 1px;
//   height: 1px;
//   background: transparent;
//   box-shadow: 716px 1950px #fff, 697px 1516px #fff, 934px 1749px #fff,
//     1548px 1409px #fff, 1052px 1462px #fff, 743px 883px #fff, 1976px 863px #fff,
//     852px 1128px #fff, 1994px 1774px #fff, 411px 1149px #fff, 338px 495px #fff,
//     726px 1660px #fff, 1450px 1483px #fff, 1308px 1938px #fff, 206px 1337px #fff,
//     1699px 1269px #fff, 1797px 131px #fff, 614px 1025px #fff, 373px 1878px #fff,
//     1240px 1806px #fff, 352px 1613px #fff, 121px 1682px #fff, 1020px 1305px #fff,
//     1639px 1463px #fff, 350px 310px #fff, 686px 449px #fff, 1439px 1978px #fff,
//     1339px 867px #fff, 1431px 1961px #fff, 655px 62px #fff, 276px 1651px #fff,
//     1353px 1135px #fff, 71px 1743px #fff, 1366px 1658px #fff, 271px 634px #fff,
//     415px 717px #fff, 1322px 1206px #fff, 439px 266px #fff, 1017px 1396px #fff,
//     847px 107px #fff, 485px 293px #fff, 40px 362px #fff, 539px 107px #fff,
//     1968px 1641px #fff, 1682px 225px #fff, 468px 1042px #fff, 777px 93px #fff,
//     269px 1053px #fff, 1972px 1652px #fff, 1914px 1625px #fff, 864px 1034px #fff,
//     537px 279px #fff, 1412px 553px #fff, 1895px 1839px #fff, 1216px 182px #fff,
//     1577px 8px #fff, 1437px 1937px #fff, 796px 1361px #fff, 447px 1308px #fff,
//     48px 1998px #fff, 215px 1812px #fff, 1877px 1986px #fff, 901px 1945px #fff,
//     329px 609px #fff, 499px 1830px #fff, 358px 1265px #fff, 2000px 1106px #fff,
//     475px 1100px #fff, 987px 1659px #fff, 1141px 1259px #fff, 78px 174px #fff,
//     1081px 683px #fff, 662px 523px #fff, 110px 1309px #fff, 1375px 811px #fff,
//     1249px 1797px #fff, 1063px 264px #fff, 658px 622px #fff, 1294px 210px #fff,
//     902px 1081px #fff, 1518px 270px #fff, 1584px 442px #fff, 1160px 836px #fff,
//     179px 819px #fff, 1639px 1737px #fff, 1748px 208px #fff, 1685px 1765px #fff,
//     756px 7px #fff, 1431px 95px #fff, 1774px 1867px #fff, 1487px 6px #fff,
//     1977px 1957px #fff, 1822px 948px #fff, 705px 549px #fff, 1440px 1650px #fff,
//     1103px 269px #fff, 815px 756px #fff, 1200px 925px #fff, 407px 265px #fff,
//     438px 1690px #fff, 1478px 1224px #fff, 1673px 711px #fff, 507px 431px #fff,
//     1835px 722px #fff, 402px 1846px #fff, 766px 667px #fff, 1590px 491px #fff,
//     493px 1595px #fff, 1589px 1179px #fff, 1006px 909px #fff, 649px 1272px #fff,
//     810px 1635px #fff, 536px 1514px #fff, 164px 1141px #fff, 1798px 908px #fff,
//     350px 603px #fff, 380px 1px #fff, 1112px 103px #fff, 1894px 931px #fff,
//     6px 1638px #fff, 640px 583px #fff, 1806px 440px #fff, 1709px 1769px #fff,
//     429px 323px #fff, 1958px 333px #fff, 1096px 1343px #fff, 1284px 760px #fff,
//     513px 469px #fff, 636px 1243px #fff, 1602px 930px #fff, 1319px 1575px #fff,
//     803px 511px #fff, 1839px 1259px #fff, 306px 784px #fff, 651px 376px #fff,
//     1494px 348px #fff, 1505px 577px #fff, 716px 1100px #fff, 522px 556px #fff,
//     1993px 109px #fff, 1941px 1040px #fff, 1950px 656px #fff, 1002px 40px #fff,
//     341px 1123px #fff, 1241px 1067px #fff, 1406px 297px #fff, 1429px 1318px #fff,
//     1863px 1926px #fff, 81px 299px #fff, 1510px 1285px #fff, 1645px 633px #fff,
//     151px 851px #fff, 1761px 1408px #fff, 557px 69px #fff, 1873px 1771px #fff,
//     535px 1188px #fff, 1810px 1615px #fff, 1537px 128px #fff, 1724px 228px #fff,
//     1405px 1936px #fff, 349px 1661px #fff, 1071px 718px #fff, 1187px 1825px #fff,
//     1691px 1358px #fff, 868px 826px #fff, 1736px 775px #fff, 793px 1744px #fff,
//     1847px 920px #fff, 526px 388px #fff, 1277px 684px #fff, 290px 938px #fff,
//     701px 1657px #fff, 1688px 258px #fff, 274px 1858px #fff, 1444px 678px #fff,
//     532px 454px #fff, 1712px 1116px #fff, 452px 891px #fff, 1247px 218px #fff,
//     844px 1119px #fff, 675px 1208px #fff, 1068px 1663px #fff, 909px 298px #fff,
//     1071px 344px #fff, 574px 1976px #fff, 362px 346px #fff, 1214px 742px #fff,
//     1127px 397px #fff, 1033px 1367px #fff, 154px 1655px #fff, 299px 1147px #fff,
//     1032px 442px #fff, 1172px 53px #fff, 193px 801px #fff, 848px 1275px #fff,
//     758px 252px #fff, 1423px 960px #fff, 1861px 522px #fff, 722px 377px #fff,
//     1508px 1230px #fff, 1250px 128px #fff, 234px 1311px #fff, 1966px 444px #fff,
//     1293px 1772px #fff, 1189px 946px #fff, 1509px 542px #fff, 1708px 614px #fff,
//     596px 793px #fff, 86px 1498px #fff, 1744px 746px #fff, 1850px 810px #fff,
//     1070px 351px #fff, 1483px 156px #fff, 1071px 724px #fff, 6px 371px #fff,
//     1448px 729px #fff, 895px 792px #fff, 1291px 504px #fff, 1773px 1866px #fff,
//     884px 1841px #fff, 1545px 958px #fff, 216px 934px #fff, 1359px 1540px #fff,
//     668px 483px #fff, 508px 1530px #fff, 1058px 180px #fff, 504px 1090px #fff,
//     29px 1493px #fff, 1491px 683px #fff, 1546px 324px #fff, 297px 446px #fff,
//     771px 90px #fff, 448px 1506px #fff, 1056px 361px #fff, 1803px 463px #fff,
//     680px 1193px #fff, 99px 780px #fff, 112px 570px #fff, 386px 664px #fff,
//     987px 356px #fff, 163px 789px #fff, 620px 1499px #fff, 1967px 624px #fff,
//     257px 1270px #fff, 1122px 516px #fff, 228px 1143px #fff, 1649px 1362px #fff,
//     1819px 491px #fff, 1000px 333px #fff, 516px 928px #fff, 129px 959px #fff,
//     570px 489px #fff, 16px 1472px #fff, 1770px 1421px #fff, 1784px 653px #fff,
//     1378px 1923px #fff, 800px 1197px #fff, 435px 1585px #fff, 584px 298px #fff,
//     958px 1929px #fff, 1582px 1687px #fff, 1297px 934px #fff, 1740px 1453px #fff,
//     1691px 1818px #fff, 1086px 1595px #fff, 1739px 1026px #fff, 715px 828px #fff,
//     260px 23px #fff, 446px 1013px #fff, 519px 1913px #fff, 1506px 1453px #fff,
//     1607px 999px #fff, 1056px 810px #fff, 411px 1918px #fff, 1937px 1761px #fff,
//     871px 1894px #fff, 893px 471px #fff, 679px 191px #fff, 526px 226px #fff,
//     1737px 595px #fff, 1005px 1211px #fff, 174px 1484px #fff, 308px 229px #fff,
//     256px 395px #fff, 1788px 1750px #fff, 1245px 1197px #fff, 924px 118px #fff,
//     1304px 1844px #fff, 531px 46px #fff, 1648px 808px #fff, 97px 1302px #fff,
//     1126px 572px #fff, 822px 1172px #fff, 1748px 1548px #fff, 1950px 941px #fff,
//     1846px 938px #fff, 683px 266px #fff, 1134px 840px #fff, 1012px 1633px #fff,
//     1991px 1634px #fff, 1131px 1727px #fff, 959px 902px #fff, 1134px 1652px #fff,
//     390px 698px #fff, 1066px 189px #fff, 1353px 1756px #fff, 1042px 878px #fff,
//     1899px 1121px #fff, 1797px 1837px #fff, 1030px 1857px #fff,
//     911px 1665px #fff, 638px 569px #fff, 1339px 1011px #fff, 130px 242px #fff,
//     1604px 84px #fff, 264px 789px #fff, 1461px 894px #fff, 1300px 85px #fff,
//     145px 1330px #fff, 1002px 810px #fff, 617px 436px #fff, 1324px 1345px #fff,
//     1640px 1183px #fff, 1150px 1036px #fff, 414px 139px #fff, 1716px 955px #fff,
//     1493px 245px #fff, 1200px 904px #fff, 1119px 949px #fff, 890px 1264px #fff,
//     439px 1052px #fff, 810px 1303px #fff, 992px 1029px #fff, 593px 962px #fff,
//     1300px 1285px #fff, 264px 1314px #fff, 1249px 669px #fff, 178px 326px #fff,
//     359px 461px #fff, 1482px 1634px #fff, 1093px 1432px #fff, 434px 879px #fff,
//     1844px 185px #fff, 1991px 623px #fff, 11px 1632px #fff, 1761px 797px #fff,
//     1365px 183px #fff, 993px 765px #fff, 902px 1652px #fff, 1777px 613px #fff,
//     252px 1296px #fff, 1205px 1491px #fff, 1139px 1864px #fff, 49px 1029px #fff,
//     126px 633px #fff, 457px 1975px #fff, 1198px 139px #fff, 1420px 395px #fff,
//     972px 984px #fff, 1943px 296px #fff, 745px 240px #fff, 1919px 891px #fff,
//     1566px 1194px #fff, 830px 431px #fff, 664px 1938px #fff, 6px 370px #fff,
//     968px 1901px #fff, 1967px 1912px #fff, 1613px 1930px #fff,
//     1639px 1382px #fff, 665px 747px #fff, 576px 261px #fff, 1249px 1924px #fff,
//     1935px 822px #fff, 997px 782px #fff, 1207px 470px #fff, 1007px 1128px #fff,
//     53px 1722px #fff, 1228px 547px #fff, 1418px 1195px #fff, 1236px 574px #fff,
//     16px 723px #fff, 375px 385px #fff, 465px 1252px #fff, 1771px 535px #fff,
//     382px 587px #fff, 1469px 120px #fff, 1985px 1414px #fff, 1473px 1431px #fff,
//     1250px 1887px #fff, 1668px 1878px #fff, 972px 278px #fff, 354px 1157px #fff,
//     914px 1286px #fff, 923px 1539px #fff, 650px 1990px #fff, 289px 897px #fff,
//     178px 683px #fff, 1283px 806px #fff, 920px 1041px #fff, 938px 1607px #fff,
//     1190px 1883px #fff, 1370px 415px #fff, 1599px 540px #fff, 341px 174px #fff,
//     360px 1848px #fff, 1335px 558px #fff, 741px 512px #fff, 438px 1343px #fff,
//     828px 139px #fff, 126px 97px #fff, 968px 1720px #fff, 1108px 699px #fff,
//     970px 1278px #fff, 1765px 1268px #fff, 1236px 304px #fff, 1660px 371px #fff,
//     1363px 336px #fff, 1440px 648px #fff, 1569px 830px #fff, 1184px 703px #fff,
//     1524px 1145px #fff, 1157px 628px #fff, 337px 1600px #fff, 498px 892px #fff,
//     1737px 1256px #fff, 971px 1825px #fff, 1389px 754px #fff, 835px 1362px #fff,
//     1471px 936px #fff, 472px 833px #fff, 272px 1576px #fff, 331px 286px #fff,
//     1713px 668px #fff, 1969px 1297px #fff, 249px 40px #fff, 879px 831px #fff,
//     571px 1186px #fff, 551px 561px #fff, 1776px 225px #fff, 946px 585px #fff,
//     987px 160px #fff, 675px 355px #fff, 665px 1949px #fff, 286px 989px #fff,
//     1185px 998px #fff, 1360px 1124px #fff, 1386px 1676px #fff, 465px 1832px #fff,
//     1271px 448px #fff, 1967px 116px #fff, 1971px 382px #fff, 480px 861px #fff,
//     1639px 1107px #fff, 1744px 535px #fff, 428px 1908px #fff, 503px 1674px #fff,
//     1527px 105px #fff, 1702px 834px #fff, 1030px 97px #fff, 1010px 1530px #fff,
//     1057px 1710px #fff, 104px 875px #fff, 849px 1338px #fff, 1735px 1626px #fff,
//     1763px 1540px #fff, 224px 423px #fff, 1908px 873px #fff, 661px 204px #fff,
//     1661px 1218px #fff, 1555px 500px #fff, 1021px 1702px #fff, 1406px 694px #fff,
//     1548px 1206px #fff, 1825px 422px #fff, 1465px 761px #fff, 1997px 516px #fff,
//     1078px 240px #fff, 497px 1743px #fff, 1126px 1907px #fff, 1966px 265px #fff,
//     1605px 117px #fff, 1251px 1583px #fff, 1599px 757px #fff, 1392px 1165px #fff,
//     1985px 593px #fff, 1648px 1772px #fff, 989px 1939px #fff, 1013px 1443px #fff,
//     1635px 705px #fff, 1861px 1589px #fff, 394px 631px #fff, 648px 1132px #fff,
//     954px 1161px #fff, 838px 1782px #fff, 1070px 705px #fff, 1739px 310px #fff,
//     1243px 600px #fff, 1083px 1666px #fff, 370px 742px #fff, 1646px 1982px #fff,
//     335px 1127px #fff, 1245px 642px #fff, 1399px 486px #fff, 1901px 26px #fff,
//     1146px 1955px #fff, 1874px 1240px #fff, 1418px 617px #fff, 249px 946px #fff,
//     1347px 1054px #fff, 762px 1234px #fff, 1930px 88px #fff, 1003px 643px #fff,
//     1701px 887px #fff, 895px 1031px #fff, 1437px 1835px #fff, 1756px 768px #fff,
//     1415px 1945px #fff, 87px 870px #fff, 627px 1546px #fff, 361px 1109px #fff,
//     1766px 1125px #fff, 1032px 1127px #fff, 1292px 1555px #fff,
//     1081px 1219px #fff, 293px 1548px #fff, 900px 1152px #fff, 386px 1171px #fff,
//     1447px 989px #fff, 1547px 775px #fff, 587px 1751px #fff, 424px 676px #fff,
//     1251px 1607px #fff, 1062px 864px #fff, 1812px 1047px #fff, 779px 1172px #fff,
//     1190px 1279px #fff, 990px 1954px #fff, 1045px 1830px #fff, 46px 72px #fff,
//     496px 532px #fff, 968px 115px #fff, 1597px 1465px #fff, 556px 1826px #fff,
//     1112px 856px #fff, 948px 912px #fff, 850px 162px #fff, 1691px 1442px #fff,
//     764px 626px #fff, 943px 1746px #fff, 351px 1635px #fff, 1441px 1431px #fff,
//     641px 1002px #fff, 903px 43px #fff, 707px 895px #fff, 1225px 586px #fff,
//     1383px 1584px #fff, 384px 1409px #fff, 1776px 750px #fff, 1710px 295px #fff,
//     1215px 1425px #fff, 1668px 1162px #fff, 718px 448px #fff, 1054px 655px #fff,
//     1745px 1874px #fff, 1293px 638px #fff, 783px 204px #fff, 28px 1253px #fff,
//     268px 1518px #fff, 988px 1423px #fff, 1237px 751px #fff, 1599px 304px #fff,
//     176px 1026px #fff, 1754px 1062px #fff, 1925px 1661px #fff, 980px 789px #fff,
//     643px 981px #fff, 201px 1075px #fff, 19px 424px #fff, 146px 825px #fff,
//     1593px 1902px #fff, 1881px 784px #fff, 1393px 1425px #fff, 573px 204px #fff,
//     1729px 268px #fff, 1155px 1994px #fff, 698px 432px #fff, 1490px 1677px #fff,
//     1762px 1667px #fff, 698px 55px #fff, 721px 1699px #fff, 632px 473px #fff,
//     1557px 1829px #fff, 1289px 1636px #fff, 1011px 736px #fff, 769px 1651px #fff,
//     833px 137px #fff, 166px 1388px #fff, 1511px 232px #fff, 740px 479px #fff,
//     1261px 1747px #fff, 561px 1614px #fff, 1515px 1859px #fff, 149px 1482px #fff,
//     423px 820px #fff, 1281px 608px #fff, 1472px 942px #fff, 1979px 205px #fff,
//     59px 1730px #fff, 35px 653px #fff, 9px 312px #fff, 1518px 1978px #fff,
//     790px 1333px #fff, 1893px 100px #fff, 1523px 738px #fff, 493px 1517px #fff,
//     1706px 1807px #fff, 1300px 1090px #fff, 960px 945px #fff, 91px 486px #fff,
//     727px 185px #fff, 1588px 1525px #fff, 763px 1225px #fff, 59px 248px #fff,
//     1270px 916px #fff, 1101px 648px #fff, 1674px 879px #fff, 274px 996px #fff,
//     1917px 874px #fff, 1195px 1287px #fff, 1286px 472px #fff, 1864px 1406px #fff,
//     813px 1208px #fff, 405px 644px #fff, 1886px 944px #fff, 528px 1633px #fff,
//     297px 1780px #fff, 715px 274px #fff, 1267px 447px #fff, 395px 1156px #fff,
//     1755px 891px #fff, 570px 1524px #fff, 1126px 932px #fff, 216px 715px #fff,
//     851px 1639px #fff, 830px 1784px #fff, 1770px 524px #fff, 1477px 309px #fff,
//     1986px 665px #fff, 1997px 1251px #fff, 654px 928px #fff, 514px 26px #fff,
//     1276px 1735px #fff, 1820px 916px #fff, 223px 1463px #fff, 479px 83px #fff,
//     800px 212px #fff, 465px 1644px #fff, 548px 1121px #fff, 1893px 102px #fff,
//     509px 1283px #fff, 676px 1250px #fff, 1201px 1776px #fff, 324px 365px #fff,
//     1833px 1027px #fff, 1874px 1970px #fff, 114px 225px #fff, 417px 758px #fff,
//     1279px 1949px #fff, 1984px 1511px #fff, 866px 1983px #fff, 886px 1862px #fff,
//     1800px 62px #fff, 98px 616px #fff, 212px 600px #fff, 231px 991px #fff,
//     440px 1705px #fff, 755px 1356px #fff, 1234px 1507px #fff, 108px 1506px #fff,
//     1136px 1465px #fff, 1491px 837px #fff, 1088px 1396px #fff, 895px 1569px #fff,
//     1400px 197px #fff, 1399px 1662px #fff, 487px 1547px #fff, 1770px 1712px #fff,
//     1475px 1385px #fff, 1695px 1239px #fff, 1067px 1977px #fff,
//     1482px 1555px #fff, 1469px 1727px #fff, 1408px 42px #fff, 1442px 1648px #fff,
//     661px 766px #fff, 245px 1658px #fff, 691px 672px #fff, 1623px 369px #fff,
//     901px 302px #fff;
// }

// #stars2 {
//   width: 2px;
//   height: 2px;
//   background: transparent;
//   box-shadow: 955px 1675px #fff, 358px 1191px #fff, 966px 1332px #fff,
//     1162px 1394px #fff, 187px 1929px #fff, 902px 824px #fff, 1862px 1740px #fff,
//     691px 1371px #fff, 1738px 235px #fff, 969px 711px #fff, 465px 196px #fff,
//     376px 1207px #fff, 1416px 425px #fff, 1306px 570px #fff, 987px 144px #fff,
//     1289px 1787px #fff, 1921px 1267px #fff, 1690px 678px #fff,
//     1105px 1806px #fff, 1071px 455px #fff, 703px 690px #fff, 1837px 512px #fff,
//     499px 1824px #fff, 1907px 1146px #fff, 538px 1971px #fff, 611px 1954px #fff,
//     821px 703px #fff, 190px 1558px #fff, 930px 63px #fff, 787px 976px #fff,
//     23px 663px #fff, 453px 1118px #fff, 1002px 205px #fff, 1728px 689px #fff,
//     1744px 1723px #fff, 16px 1449px #fff, 476px 814px #fff, 998px 940px #fff,
//     129px 477px #fff, 979px 1222px #fff, 1633px 63px #fff, 1551px 543px #fff,
//     265px 1177px #fff, 662px 1840px #fff, 484px 1188px #fff, 1999px 393px #fff,
//     996px 1384px #fff, 1022px 1802px #fff, 1230px 56px #fff, 1012px 16px #fff,
//     1088px 72px #fff, 1153px 1729px #fff, 325px 324px #fff, 243px 858px #fff,
//     1948px 1559px #fff, 1253px 130px #fff, 1900px 787px #fff, 1058px 10px #fff,
//     770px 432px #fff, 605px 546px #fff, 598px 1204px #fff, 456px 1881px #fff,
//     1540px 459px #fff, 1957px 1003px #fff, 1750px 206px #fff, 1367px 1746px #fff,
//     1344px 1354px #fff, 1604px 815px #fff, 464px 149px #fff, 1354px 870px #fff,
//     1630px 1913px #fff, 1544px 376px #fff, 1806px 1564px #fff,
//     1734px 1012px #fff, 614px 1905px #fff, 1488px 316px #fff, 1697px 99px #fff,
//     414px 804px #fff, 1198px 105px #fff, 1803px 193px #fff, 1286px 680px #fff,
//     1725px 1293px #fff, 197px 1787px #fff, 1438px 1887px #fff,
//     1197px 1365px #fff, 555px 502px #fff, 1334px 1334px #fff, 972px 1814px #fff,
//     1828px 481px #fff, 493px 761px #fff, 1256px 1565px #fff, 1124px 255px #fff,
//     72px 1791px #fff, 275px 1472px #fff, 1093px 312px #fff, 408px 1757px #fff,
//     391px 1607px #fff, 1909px 150px #fff, 111px 1270px #fff, 108px 111px #fff,
//     1322px 1831px #fff, 622px 1931px #fff, 680px 405px #fff, 1777px 1744px #fff,
//     167px 296px #fff, 1933px 123px #fff, 1044px 1169px #fff, 1473px 219px #fff,
//     62px 1044px #fff, 1021px 1662px #fff, 329px 647px #fff, 672px 1279px #fff,
//     299px 1230px #fff, 1065px 1747px #fff, 191px 1029px #fff, 1579px 252px #fff,
//     1480px 1774px #fff, 759px 880px #fff, 845px 1958px #fff, 1965px 517px #fff,
//     320px 150px #fff, 723px 1114px #fff, 1984px 229px #fff, 808px 1942px #fff,
//     1219px 1861px #fff, 559px 1546px #fff, 1238px 916px #fff, 1587px 721px #fff,
//     1691px 1946px #fff, 1842px 292px #fff, 515px 436px #fff, 1936px 231px #fff,
//     232px 404px #fff, 1742px 669px #fff, 1019px 1379px #fff, 1819px 1289px #fff,
//     1970px 1122px #fff, 1183px 16px #fff, 1760px 1113px #fff, 21px 1107px #fff,
//     239px 1073px #fff, 1178px 1525px #fff, 271px 364px #fff, 503px 283px #fff,
//     1819px 1981px #fff, 331px 933px #fff, 1811px 285px #fff, 168px 185px #fff,
//     328px 1114px #fff, 1879px 1634px #fff, 597px 708px #fff, 865px 1019px #fff,
//     677px 1308px #fff, 1339px 769px #fff, 1936px 1653px #fff, 1292px 645px #fff,
//     79px 361px #fff, 1797px 1431px #fff, 362px 177px #fff, 457px 655px #fff,
//     305px 864px #fff, 446px 1846px #fff, 214px 714px #fff, 616px 1263px #fff,
//     1558px 1332px #fff, 771px 615px #fff, 308px 125px #fff, 1936px 1606px #fff,
//     290px 1011px #fff, 1267px 1594px #fff, 1637px 1855px #fff, 193px 1868px #fff,
//     1865px 153px #fff, 1820px 1739px #fff, 1783px 1498px #fff, 28px 477px #fff,
//     236px 1367px #fff, 1050px 1479px #fff, 1572px 921px #fff, 240px 1202px #fff,
//     1542px 1698px #fff, 917px 764px #fff, 360px 1481px #fff, 1810px 1015px #fff,
//     445px 249px #fff, 1525px 1062px #fff, 1435px 1951px #fff, 414px 1151px #fff,
//     781px 477px #fff, 291px 1073px #fff, 541px 1582px #fff, 1735px 1226px #fff,
//     1409px 1209px #fff, 1390px 647px #fff, 481px 1011px #fff, 1338px 126px #fff,
//     1317px 1507px #fff, 133px 811px #fff, 1496px 1325px #fff, 1973px 247px #fff;
//   animation: animStar 100s linear infinite;
// }
// #stars2:after {
//   content: " ";
//   position: absolute;
//   top: 2000px;
//   width: 2px;
//   height: 2px;
//   background: transparent;
//   box-shadow: 955px 1675px #fff, 358px 1191px #fff, 966px 1332px #fff,
//     1162px 1394px #fff, 187px 1929px #fff, 902px 824px #fff, 1862px 1740px #fff,
//     691px 1371px #fff, 1738px 235px #fff, 969px 711px #fff, 465px 196px #fff,
//     376px 1207px #fff, 1416px 425px #fff, 1306px 570px #fff, 987px 144px #fff,
//     1289px 1787px #fff, 1921px 1267px #fff, 1690px 678px #fff,
//     1105px 1806px #fff, 1071px 455px #fff, 703px 690px #fff, 1837px 512px #fff,
//     499px 1824px #fff, 1907px 1146px #fff, 538px 1971px #fff, 611px 1954px #fff,
//     821px 703px #fff, 190px 1558px #fff, 930px 63px #fff, 787px 976px #fff,
//     23px 663px #fff, 453px 1118px #fff, 1002px 205px #fff, 1728px 689px #fff,
//     1744px 1723px #fff, 16px 1449px #fff, 476px 814px #fff, 998px 940px #fff,
//     129px 477px #fff, 979px 1222px #fff, 1633px 63px #fff, 1551px 543px #fff,
//     265px 1177px #fff, 662px 1840px #fff, 484px 1188px #fff, 1999px 393px #fff,
//     996px 1384px #fff, 1022px 1802px #fff, 1230px 56px #fff, 1012px 16px #fff,
//     1088px 72px #fff, 1153px 1729px #fff, 325px 324px #fff, 243px 858px #fff,
//     1948px 1559px #fff, 1253px 130px #fff, 1900px 787px #fff, 1058px 10px #fff,
//     770px 432px #fff, 605px 546px #fff, 598px 1204px #fff, 456px 1881px #fff,
//     1540px 459px #fff, 1957px 1003px #fff, 1750px 206px #fff, 1367px 1746px #fff,
//     1344px 1354px #fff, 1604px 815px #fff, 464px 149px #fff, 1354px 870px #fff,
//     1630px 1913px #fff, 1544px 376px #fff, 1806px 1564px #fff,
//     1734px 1012px #fff, 614px 1905px #fff, 1488px 316px #fff, 1697px 99px #fff,
//     414px 804px #fff, 1198px 105px #fff, 1803px 193px #fff, 1286px 680px #fff,
//     1725px 1293px #fff, 197px 1787px #fff, 1438px 1887px #fff,
//     1197px 1365px #fff, 555px 502px #fff, 1334px 1334px #fff, 972px 1814px #fff,
//     1828px 481px #fff, 493px 761px #fff, 1256px 1565px #fff, 1124px 255px #fff,
//     72px 1791px #fff, 275px 1472px #fff, 1093px 312px #fff, 408px 1757px #fff,
//     391px 1607px #fff, 1909px 150px #fff, 111px 1270px #fff, 108px 111px #fff,
//     1322px 1831px #fff, 622px 1931px #fff, 680px 405px #fff, 1777px 1744px #fff,
//     167px 296px #fff, 1933px 123px #fff, 1044px 1169px #fff, 1473px 219px #fff,
//     62px 1044px #fff, 1021px 1662px #fff, 329px 647px #fff, 672px 1279px #fff,
//     299px 1230px #fff, 1065px 1747px #fff, 191px 1029px #fff, 1579px 252px #fff,
//     1480px 1774px #fff, 759px 880px #fff, 845px 1958px #fff, 1965px 517px #fff,
//     320px 150px #fff, 723px 1114px #fff, 1984px 229px #fff, 808px 1942px #fff,
//     1219px 1861px #fff, 559px 1546px #fff, 1238px 916px #fff, 1587px 721px #fff,
//     1691px 1946px #fff, 1842px 292px #fff, 515px 436px #fff, 1936px 231px #fff,
//     232px 404px #fff, 1742px 669px #fff, 1019px 1379px #fff, 1819px 1289px #fff,
//     1970px 1122px #fff, 1183px 16px #fff, 1760px 1113px #fff, 21px 1107px #fff,
//     239px 1073px #fff, 1178px 1525px #fff, 271px 364px #fff, 503px 283px #fff,
//     1819px 1981px #fff, 331px 933px #fff, 1811px 285px #fff, 168px 185px #fff,
//     328px 1114px #fff, 1879px 1634px #fff, 597px 708px #fff, 865px 1019px #fff,
//     677px 1308px #fff, 1339px 769px #fff, 1936px 1653px #fff, 1292px 645px #fff,
//     79px 361px #fff, 1797px 1431px #fff, 362px 177px #fff, 457px 655px #fff,
//     305px 864px #fff, 446px 1846px #fff, 214px 714px #fff, 616px 1263px #fff,
//     1558px 1332px #fff, 771px 615px #fff, 308px 125px #fff, 1936px 1606px #fff,
//     290px 1011px #fff, 1267px 1594px #fff, 1637px 1855px #fff, 193px 1868px #fff,
//     1865px 153px #fff, 1820px 1739px #fff, 1783px 1498px #fff, 28px 477px #fff,
//     236px 1367px #fff, 1050px 1479px #fff, 1572px 921px #fff, 240px 1202px #fff,
//     1542px 1698px #fff, 917px 764px #fff, 360px 1481px #fff, 1810px 1015px #fff,
//     445px 249px #fff, 1525px 1062px #fff, 1435px 1951px #fff, 414px 1151px #fff,
//     781px 477px #fff, 291px 1073px #fff, 541px 1582px #fff, 1735px 1226px #fff,
//     1409px 1209px #fff, 1390px 647px #fff, 481px 1011px #fff, 1338px 126px #fff,
//     1317px 1507px #fff, 133px 811px #fff, 1496px 1325px #fff, 1973px 247px #fff;
// }

// #stars3 {
//   width: 3px;
//   height: 3px;
//   background: transparent;
//   box-shadow: 1200px 1766px #fff, 1340px 1237px #fff, 23px 1810px #fff,
//     755px 741px #fff, 1566px 1767px #fff, 224px 365px #fff, 56px 413px #fff,
//     1912px 452px #fff, 160px 667px #fff, 1728px 1254px #fff, 1741px 827px #fff,
//     905px 1134px #fff, 267px 1811px #fff, 1394px 198px #fff, 1482px 1500px #fff,
//     1587px 1507px #fff, 1649px 1617px #fff, 120px 192px #fff, 417px 1453px #fff,
//     1927px 829px #fff, 1434px 25px #fff, 873px 1462px #fff, 1848px 904px #fff,
//     1843px 1996px #fff, 705px 949px #fff, 1665px 1145px #fff, 1538px 1676px #fff,
//     628px 1863px #fff, 712px 936px #fff, 1632px 1961px #fff, 1468px 607px #fff,
//     691px 775px #fff, 1186px 1291px #fff, 415px 1917px #fff, 86px 1557px #fff,
//     1877px 614px #fff, 1909px 1567px #fff, 241px 815px #fff, 692px 734px #fff,
//     447px 654px #fff, 964px 197px #fff, 1704px 794px #fff, 564px 1672px #fff,
//     1352px 434px #fff, 605px 640px #fff, 1544px 1132px #fff, 117px 1506px #fff,
//     350px 1258px #fff, 290px 718px #fff, 1786px 1414px #fff, 1616px 582px #fff,
//     1598px 930px #fff, 67px 73px #fff, 663px 768px #fff, 603px 1479px #fff,
//     119px 3px #fff, 755px 37px #fff, 962px 811px #fff, 293px 651px #fff,
//     1757px 1332px #fff, 310px 22px #fff, 1037px 1431px #fff, 622px 1400px #fff,
//     115px 1214px #fff, 1723px 1493px #fff, 1527px 1273px #fff, 930px 1518px #fff,
//     979px 300px #fff, 658px 1451px #fff, 991px 696px #fff, 918px 826px #fff,
//     191px 1692px #fff, 1920px 1036px #fff, 1677px 1599px #fff, 831px 1653px #fff,
//     50px 1569px #fff, 525px 1005px #fff, 579px 1655px #fff, 1734px 1353px #fff,
//     467px 455px #fff, 1453px 982px #fff, 269px 1199px #fff, 1855px 1257px #fff,
//     895px 1488px #fff, 304px 329px #fff, 1198px 1802px #fff, 888px 812px #fff,
//     1641px 348px #fff, 625px 1455px #fff, 1135px 1348px #fff, 522px 1182px #fff,
//     1302px 1598px #fff, 886px 678px #fff, 1422px 1793px #fff, 58px 1366px #fff,
//     160px 1265px #fff, 242px 1823px #fff, 336px 1681px #fff, 1945px 1818px #fff,
//     678px 818px #fff;
//   animation: animStar 150s linear infinite;
// }
// #stars3:after {
//   content: " ";
//   position: absolute;
//   top: 2000px;
//   width: 3px;
//   height: 3px;
//   background: transparent;
//   box-shadow: 1200px 1766px #fff, 1340px 1237px #fff, 23px 1810px #fff,
//     755px 741px #fff, 1566px 1767px #fff, 224px 365px #fff, 56px 413px #fff,
//     1912px 452px #fff, 160px 667px #fff, 1728px 1254px #fff, 1741px 827px #fff,
//     905px 1134px #fff, 267px 1811px #fff, 1394px 198px #fff, 1482px 1500px #fff,
//     1587px 1507px #fff, 1649px 1617px #fff, 120px 192px #fff, 417px 1453px #fff,
//     1927px 829px #fff, 1434px 25px #fff, 873px 1462px #fff, 1848px 904px #fff,
//     1843px 1996px #fff, 705px 949px #fff, 1665px 1145px #fff, 1538px 1676px #fff,
//     628px 1863px #fff, 712px 936px #fff, 1632px 1961px #fff, 1468px 607px #fff,
//     691px 775px #fff, 1186px 1291px #fff, 415px 1917px #fff, 86px 1557px #fff,
//     1877px 614px #fff, 1909px 1567px #fff, 241px 815px #fff, 692px 734px #fff,
//     447px 654px #fff, 964px 197px #fff, 1704px 794px #fff, 564px 1672px #fff,
//     1352px 434px #fff, 605px 640px #fff, 1544px 1132px #fff, 117px 1506px #fff,
//     350px 1258px #fff, 290px 718px #fff, 1786px 1414px #fff, 1616px 582px #fff,
//     1598px 930px #fff, 67px 73px #fff, 663px 768px #fff, 603px 1479px #fff,
//     119px 3px #fff, 755px 37px #fff, 962px 811px #fff, 293px 651px #fff,
//     1757px 1332px #fff, 310px 22px #fff, 1037px 1431px #fff, 622px 1400px #fff,
//     115px 1214px #fff, 1723px 1493px #fff, 1527px 1273px #fff, 930px 1518px #fff,
//     979px 300px #fff, 658px 1451px #fff, 991px 696px #fff, 918px 826px #fff,
//     191px 1692px #fff, 1920px 1036px #fff, 1677px 1599px #fff, 831px 1653px #fff,
//     50px 1569px #fff, 525px 1005px #fff, 579px 1655px #fff, 1734px 1353px #fff,
//     467px 455px #fff, 1453px 982px #fff, 269px 1199px #fff, 1855px 1257px #fff,
//     895px 1488px #fff, 304px 329px #fff, 1198px 1802px #fff, 888px 812px #fff,
//     1641px 348px #fff, 625px 1455px #fff, 1135px 1348px #fff, 522px 1182px #fff,
//     1302px 1598px #fff, 886px 678px #fff, 1422px 1793px #fff, 58px 1366px #fff,
//     160px 1265px #fff, 242px 1823px #fff, 336px 1681px #fff, 1945px 1818px #fff,
//     678px 818px #fff;
// }

// @keyframes animStar {
//   from {
//     transform: translateY(0px);
//   }
//   to {
//     transform: translateY(-2000px);
//   }
// }
