.card {
  width: 200px;
  height: 300px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  align-items: center;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.card__image--container {
  width: 150px;
  height: 150px;
  min-height: 150px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #fff;
}
.card__image {
  width: 100%;
  height: auto;
  padding-top: 10px;
}

.card__title {
  font-family: $font-main;
  margin: 10px;
}
.card__specie {
  font-family: $font-info;
  margin: 10px;
}

.company {
  display: flex;
  flex-direction: row;
  font-size: 10px;
}
.planet-logo {
  width: 20%;
}
