.form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  background: linear-gradient(270deg, #fa8ffc3b, #3fd0f05d);
  background-size: 400% 400%;
  -webkit-animation: FilterBG 19s ease infinite;
  -moz-animation: FilterBG 19s ease infinite;
  animation: FilterBG 19s ease infinite;
  font-size: 1rem;
  color: #fff;
  font-family: $font-main;
  margin: 2rem 0;
  & fieldset {
    border: none;
  }
  &__name {
    &--input {
      margin-top: 0.5rem;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.603);
      padding-left: 0.5rem;
      &::placeholder {
        color: grey;
        font-size: 0.9rem;
        font-style: italic;
      }
    }
  }
  &__choose {
    &--select {
      margin-left: 0.8rem;
      font-size: 0.8rem;
    }
  }
  &__checkbox {
    margin-right: 0.3rem;
  }
  &__filtersRow {
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  @include tablet {
    line-height: 2.2rem;
    margin-bottom: 2rem;
    margin-top: 0;
  }
  @include desktop {
    width: 60rem;
    margin: 0 auto 4rem auto;
  }
}

// Animations ______________________________________________
@-webkit-keyframes FilterBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes FilterBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes FilterBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
