.form {
  margin: 1.5rem;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  //background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  //border: 1px solid rgba(255, 255, 255, 0.18);
  background: linear-gradient(270deg, #fa8ffc3b, #3fd0f05d);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 19s ease infinite;
  -moz-animation: AnimationName 19s ease infinite;
  animation: AnimationName 19s ease infinite;
  font-size: 1.1rem;
  color: #fff;
  font-family: $font-main;

  &__name {
    border: transparent;
    &--label {
      padding-right: 0.8rem;
    }
    &--input {
      //height: 1.3rem;
      margin-top: 0.5rem;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.603);
      padding-left: 0.5rem;
      caret-color: #f7ef71;
      &:focus {
        background: yellow;
        color: red;
      }
      &::placeholder {
        color: grey;
        font-size: 0.9rem;
        font-style: italic;
      }
      @include tablet {
        width: 220px;
        margin-top: 0;
      }
    }
  }

  &__specie {
    border: transparent;
    &--select {
      margin-left: 0.8rem;
      font-size: 0.8rem;
    }
  }
  @include tablet {
    flex-direction: row;
    margin: 40px;
    // width: 100%;
    line-height: 40px;
  }
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
